<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jie.android.el"
    android:versionCode="6"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_launcher">
        <activity android:name="ELActivity" android:screenOrientation="portrait" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".service.ELService" android:process=":el_service">
            <intent-filter>
                <action android:name="elService"/>
            </intent-filter>
        </service>
        <provider android:multiprocess="true" android:name=".database.ELContentProvider" android:process=":el_service" android:exported="false" android:authorities="jie.android.el"></provider>
    </application>

</manifest>